html,body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/*css variables*/

:root{
    --primary-color: rgb(240, 160, 11);
    --hover-color:#ffffff;
    
}

/*font family css*/

:root{
    --roboto:"Roboto",cursive;
}